.scrollit {
    overflow:scroll;
    height:480px;
    overflow-x:hidden;
  }

.scrollit::-webkit-scrollbar {
    width: 20px;
}

.scrollit::-webkit-scrollbar-track {
  background: url("vertical_scroll.png");
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.25);
  background-size: contain;
}

.scrollit::-webkit-scrollbar-corner {
  background: url("vertical_scroll.png");
  background-size: contain;
}


#paladin::-webkit-scrollbar-thumb {
  background: -webkit-radial-gradient(rgba(248, 247, 240, 0.5), #f5dab1);
}

#paladin::-webkit-scrollbar-thumb:hover {
  background: -webkit-radial-gradient(rgba(248, 247, 240, 0.9), #f5dab1);
}

#sorcerer::-webkit-scrollbar-thumb {
  background: -webkit-radial-gradient(rgba(248, 247, 240, 0.5), #b1d9f5);
}

#sorcerer::-webkit-scrollbar-thumb:hover {
  background: -webkit-radial-gradient(rgba(248, 247, 240, 0.9), #b1d9f5);
}

#bard::-webkit-scrollbar-thumb {
  background: -webkit-radial-gradient(rgba(248, 247, 240, 0.5), #d9b1f5);
}

#bard::-webkit-scrollbar-thumb:hover {
  background: -webkit-radial-gradient(rgba(248, 247, 240, 0.9), #d9b1f5);
}
