{% extends "index.html" %}

{% block class %}

<select class="form-select" aria-label="Default select example" onchange="classChange(this)" style="float: right; background-color: rgba(255, 255, 255, 0.5); border-color: rgb(100, 100, 100);">
  <option selected>
    Select Class
  </option>
  <option value="Paladin">
    Paladin
  </option>
  <option value="Sorcerer">
    Sorcerer
  </option>
  <option value="Bard">
    Bard
  </option>
</select>

{% endblock %}

{% block levels %}
<link href='https://fonts.googleapis.com/css?family=IM Fell DW Pica' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Special Elite' rel='stylesheet'>
<style>

  #checkboxes {
    font-family: 'IM Fell DW Pica', serif;
  }

  label {
    font-family: 'Special Elite', serif;
  }
  
  .cantrip {
    font-family:'IM Fell DW Pica', serif;
  }
</style>
<div id="checkboxes">
  <input type="checkbox" id="level1" name="level1" value="1" onclick="levelSearch()" {% if level1 %}checked{% endif %}>
  <label for="level1">1</label>st
  <input type="checkbox" id="level2" name="level2" value="2" onclick="levelSearch()" {% if level2 %}checked{% endif %}>
  <label for="level2">2</label>nd
  <input type="checkbox" id="level3" name="level3" value="3" onclick="levelSearch()" {% if level3 %}checked{% endif %}>
  <label for="level3">3</label>rd
  <input type="checkbox" id="level4" name="level4" value="4" onclick="levelSearch()" {% if level4 %}checked{% endif %}>
  <label for="level4">4</label>th
  <input type="checkbox" id="level5" name="level5" value="5" onclick="levelSearch()" {% if level5 %}checked{% endif %}>
  <label for="level5">5</label>th
  <div id = "fullCaster">
    <input type="checkbox" id="level6" name="level6" value="6" onclick="levelSearch()" {% if level6 %}checked{% endif %}>
    <label for="level6">6</label>th
    <input type="checkbox" id="level7" name="level7" value="7" onclick="levelSearch()" {% if level7 %}checked{% endif %}>
    <label for="level7">7</label>th
    <input type="checkbox" id="level8" name="level8" value="8" onclick="levelSearch()" {% if level8 %}checked{% endif %}>
    <label for="level8">8</label>th
    <input type="checkbox" id="level9" name="level9" value="9" onclick="levelSearch()" {% if level9 %}checked{% endif %}>
    <label for="level9">9</label>th
    <input type="checkbox" id="level0" name="level0" value="0" onclick="levelSearch()" {% if level0 %}checked{% endif %}>
    <label for="level0" class="cantrip">Cantrip</label>
  </div>
</div>

<script>
  // when a checkbox is clicked, update the table
  function levelSearch() {
    var level1 = document.getElementById("level1").checked;
    var level2 = document.getElementById("level2").checked;
    var level3 = document.getElementById("level3").checked;
    var level4 = document.getElementById("level4").checked;
    var level5 = document.getElementById("level5").checked;
    var level6 = document.getElementById("level6").checked;
    var level7 = document.getElementById("level7").checked;
    var level8 = document.getElementById("level8").checked;
    var level9 = document.getElementById("level9").checked;
    var level0 = document.getElementById("level0").checked;

    // send get request and pass list of checked boxes as json
    let formData = {
      "level1": level1,
      "level2": level2,
      "level3": level3,
      "level4": level4,
      "level5": level5,
      "level6": level6,
      "level7": level7,
      "level8": level8,
      "level9": level9,
      "level0": level0}
    $.post("/levelSearch", formData)
      .done(function(data) {
        // update table
        $("#table-content").html(data);
      });

  }
</script>

{% endblock %}

{% block school %}

<!-- dropdown -->
<div class="dropdown">
  <select id="school" name="school" onchange="schoolSearch()" style="width: 125px;">
    <option value="School">School</option>
    <option value="Abjuration">Abjuration</option>
    <option value="Conjuration">Conjuration</option>
    <option value="Divination">Divination</option>
    <option value="Enchantment">Enchantment</option>
    <option value="Evocation">Evocation</option>
    <option value="Illusion">Illusion</option>
    <option value="Necromancy">Necromancy</option>
    <option value="Transmutation">Transmutation</option>
  </select>
</div>

<script>
  function schoolSearch() {
    let formData = {
      'school': $('select[name=school]').val(),
    };
    $.post("/schoolSearch", formData, function(data) {
      $("#table-content").html(data);
    })
  }
</script>

{% endblock %}

{% block castingTime %}

<!-- dropdown with castingTime options -->
<div class="dropdown">
  <select id="castingTime" name="castingTime" onchange="castingTimeSearch()" style="width: 125px;">
    <option value="Casting Time">Casting Time</option>
    <option value="1 action">Action</option>
    <option value="1 bonus action">Bonus Action</option>
    <option value="1 reaction">Reaction</option>
  </select>
</div>

<script>
  // when a dropdown option is selected, update the table
  function castingTimeSearch() {
    var castingTime = document.getElementById("castingTime").value;

    // send get request and pass selected option as json
    let formData = {
      "castingTime": castingTime}
    $.post("/castingTimeSearch", formData)
      .done(function(data) {
        // update table
        $("#table-content").html(data);
      });
  }
</script>

{% endblock %}

{% block range %}

<!-- dropdown with range options -->
<div class="dropdown">
  <select id="range" name="range" onchange="rangeSearch()" style="width: 125px;">
    <option value="Range">Range</option>
    <option value="Self">Self</option>
    <option value="Self (aoe)">Self (aoe)</option>
    <option value="Touch">Touch</option>
    <option value="10">≥10 feet</option>
    <option value="30">≥30 feet</option>
    <option value="60">≥60 feet</option>
    <option value="90">≥90 feet</option>
    <option value="120">≥120 feet</option>
  </select>
</div>

<script>
  // when a dropdown option is selected, update the table
  function rangeSearch() {
    var range = document.getElementById("range").value;

    // send get request and pass selected option as json
    let formData = {
      "range": range}
    $.post("/rangeSearch", formData)
      .done(function(data) {
        // update table
        $("#table-content").html(data);
      });
  }
</script>

{% endblock %}

{% block duration %}
<!-- dropdown with duration options -->
<div class="dropdown">
  <select id="duration" name="duration" onchange="durationSearch()" style="width: 125px;">
    <option value="Duration">Duration</option>
    <option value="Instantaneous">Instantaneous</option>
    <option value="1 round">≥1 round</option>
    <option value="1 minute">≥1 minute</option>
    <option value="10 minutes">≥10 minutes</option>
    <option value="1 hour">≥1 hour</option>
    <option value="8 hours">≥8 hours</option>
    <option value="24 hours">≥24 hours</option>
  </select>
</div>

<script>
  // when a dropdown option is selected, update the table
  function durationSearch() {
    var duration = document.getElementById("duration").value;

    // send get request and pass selected option as json
    let formData = {
      "duration": duration}
    $.post("/durationSearch", formData)
      .done(function(data) {
        // update table
        $("#table-content").html(data);
      });
  }
</script>

{% endblock %}

{% block components %}
<!-- dropdown with components options -->
<select id="components" name="components" onchange="componentsSearch()" style="width: 125px;">
  <option value="Components">Components</option>
  <option value="V">V</option>
  <option value="S">S</option>
  <option value="M">M</option>
  <option value="V, S">V, S</option>
  <option value="V, M">V, M</option>
  <option value="S, M">S, M</option>
  <option value="V, S, M">V, S, M</option>
</select>

<script>
  // when a dropdown option is selected, update the table
  function componentsSearch() {
    var components = document.getElementById("components").value;

    // send get request and pass selected option as json
    let formData = {
      "components": components}
    $.post("/componentsSearch", formData)
      .done(function(data) {
        // update table
        $("#table-content").html(data);
      });
  }

</script>

{% endblock %}

{% block concentration %}

<!-- dropdown with concentration options -->
<div class="dropdown">
  <select id="concentration" name="concentration" onchange="concentrationSearch()" style="width: 125px;">
    <option value="Concentration">Concentration</option>
    <option value="Yes">Yes</option>
    <option value="No">No</option>
  </select>
</div>

<script>
  // when a dropdown option is selected, update the table
  function concentrationSearch() {
    var concentration = document.getElementById("concentration").value;

    // send get request and pass selected option as json
    let formData = {
      "concentration": concentration}
    $.post("/concentrationSearch", formData)
      .done(function(data) {
        // update table
        $("#table-content").html(data);
      });
  }
</script>

{% endblock %}
