<!doctype html>
<html>
  <head>
    <title>{{ title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <style>
      .br {
          display: block;
          margin-bottom: var(--h);
      }
      .scrollit {
        overflow:scroll;
        height:480px;
        overflow-x:hidden;
      }
      /* make container wider */
      .container {
        max-width: 1250px;
      }

      /* add padding to sidebar-text */
      #sidebar-text {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 15px;
        padding-bottom: 15px;
      }

    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>

  <body style="background-color: #f9f7ed;">
    <div class="container">
      <!-- title -->
      <span class="br" style="--h: 0.8em;"></span>
      <div class="row">
        <div class="col-md-10" id="title">
          <h3>DND Spells</h3>
        </div>
        <div class="col-md-2">
          <select class="form-select" aria-label="Default select example" onchange="classChange(this)" style="float: right;">
            <option selected>Select Class</option>
            <option value="Paladin">Paladin</option>
            <option value="Sorcerer">Sorcerer</option>
            <option value="Bard">Bard</option>
          </select>
        </div>
      </div>
      <div id="default-text">
        <span class="br" style="--h: 2em;"></span> 
        <p style="text-align: center; font-size: 1.75em; font-family: 'Lucida Calligraphy', sans-serif;">
          Select a class to get started!
        </p>
        <!-- goes to https://wallpapercave.com/w/wp2770237 when clicked -->
        <img src="{{ url_for('static', filename='homepage.jpg') }}" style="display: block; margin-left: auto; margin-right: auto; width: 50%;" onclick="window.open('https://wallpapercave.com/w/wp2770237', '_blank');">
      </div>
      <span class="br" style="--h: 1em;"></span>

      <!-- filter options -->
      <div class="row" id="filters" hidden>
        <div class="col-md-3" style="width: 35%">
          <span class="br" style="--h: 0.3em;"></span>
          <input type="text" name="query" value="{{ query }}" class="form-control" onkeyup="search()" placeholder="Search for a spell..." autofocus="autofocus" id="search">
        </div>
        <div class="col-md-3" style="width: 22.5%">
          {% block levels %}{% endblock %}
        </div>
        <div class="col-md-2" style="width: 11.5%">
          {% block school %}{% endblock %}
          <span class="br" style="--h: 0.25em;"></span>
          {% block castingTime %}{% endblock %}
        </div>
        <div class="col-md-2" style="width: 11.5%">
          {% block duration %}{% endblock %}
          <span class="br" style="--h: 0.25em;"></span>
          {% block concentration %}{% endblock %}

        </div>
        <div class="col-md-2" style="width: 17.5%">
          {% block range %}{% endblock %}
          <span class="br" style="--h: 0.25em;"></span>
          {% block components %}{% endblock %}
        </div>
      </div>
      <span class="br" style="--h: 0.5em;"></span>

      <!-- table and sidebar -->
      <div class="row">
        <div class="col-md-7" id="table-content">
          <!-- table -->
        </div>
        <div class="col-md-5" id="sidebar">
          <!-- add button to top right -->
          <!-- makes the button start off hidden -->
          <button type="button" class="btn-close" aria-label="Close" id="close-sidebar" style="float: right;" hidden></button>
            <p id="sidebar-text" hidden>
            Click on a spell to see more information.
          </p>
        </div>
        <script>
          // close sidebar when button is clicked
          $("#close-sidebar").click(function() {
            // add hidden attribute to sidebar
            $("#close-sidebar").attr("hidden", true);
            // set sidebar text to default
            $("#sidebar-text").html("Click on a spell to see more information.");
          });
        </script>
    </div>

    <script src="{{ url_for('static', filename='search.js') }}"></script>

    <script>
      function classChange(select) {
        var selected = select.options[select.selectedIndex].value;
        $.get("/class/" + selected, function(data) {
          // Update the table content without changing the URL
          $("#table-content").html(data);
          // make sidebar visible
          if (selected != "Select Class") {
            $("#sidebar-text").removeAttr("hidden");
          } else {
            $("#sidebar-text").attr("hidden", true);
          }
          // change title
          if (selected != "Select Class") {
            $("#title").html("<h3>" + selected + " Spells</h3>");
          } else {
            $("#title").html("<h3>DND Spells</h3>");
          }
          // change background color
          // select class: white
          // paladin: light orange
          // sorcerer: light blue
          // bard: light purple

          if (selected == "Select Class") {
            $("#default-text").removeAttr("hidden");
            $("#filters").attr("hidden", true);
            $("body").css("background-color", "#f9f7ed");
          } else {
            $("#default-text").attr("hidden", true);
            $("#filters").removeAttr("hidden");
            if (selected == "Paladin") {
              $("#fullCaster").attr("hidden", true);
              $("body").css("background-color", "#f5dab1");
            } else if (selected == "Sorcerer") {
              $("#fullCaster").removeAttr("hidden");
              $("body").css("background-color", "#b1d9f5");
            } else if (selected == "Bard") {
              $("#fullCaster").removeAttr("hidden");
              $("body").css("background-color", "#d9b1f5");
            }
          }
        });
      }
    </script>
  </body>
</html>
