<div class="frame">
  <div class="scrollit">
    
    <style>
      .table {
        font-size: 0.9em;
        table-layout: fixed;
      }
    </style>
    <table id="data" class="table">
      <!-- fix column widths -->
      <colgroup>
          <col style="width: 7.5%">
          <col style="width: 16.5%">
          <col style="width: 15%">
          <col style="width: 17.5%">
          <col style="width: 10%">
          <col style="width: 17.5%">
          <col style="width: 16%">
      </colgroup>
      <thead>
          <th>Level</th>
          <th>Name</th>
          <th>School</th>
          <th>Casting Time</th>
          <th>Range</th>
          <th>Duration</th>
          <th>Components</th>
          </tr>
      </thead>
      <tbody>
          {% for spell in spells %}
          <tr onclick="showDetails(this)">
              <td>{{ spell.level }}</td>
              <td>{{ spell.name.replace("/", " / ") }}</td>
              <td>{{ spell.school }}</td>
              <td>{{ spell.casting_time }}</td>
              <td>{{ spell.range }}</td>
              <td>{{ spell.duration }}</td>
              <td>{{ spell.components }}</td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<style>
  .frame {
        background-image: url("{{ url_for('static', filename='frame.png') }}");
        /* contain image */
        background-size: 100% 100%;
        padding: 20px;
        padding-right: 15px;
        border-radius: 10px;
  }
  thead {
    background-color: {{ header_color }}; /* this gives an error in VSC but it doesn't know anything */
  }
</style>
  
<script src="{{ url_for('static', filename='color.js') }}"></script>
<script src="{{ url_for('static', filename='sorting.js') }}"></script>

<script>
  // when a row is clicked, show the spell details in the sidebar
    function showDetails(row) {
      // get the spell name
      var name = row.cells[1].innerHTML;
      // replace / with -
      name = name.replace("/", "-");
      // get the spell details
      $.get("/spell/" + name, function(data) {
          $("#spell-title").html(row.cells[1].innerHTML);
          $("#spell-title").removeAttr("hidden");
          $("#sidebar-text").removeAttr("hidden");
          $("#sidebar-default-text").attr("hidden", true);
          $("#sidebar-text").html(data);
          $("#close-sidebar").removeAttr("hidden");
          var school = row.cells[2].innerHTML;
          // change close-sidebar's background image to match school
          $("#close-sidebar").css("background-image", "url(\"{{ url_for('static', filename='symbols') }}/" + school + ".png\")");
      });
    }
</script>

