{% extends "index.html" %}

{% block content %} 
<div class="scrollit">
  <table id="data" class="table">
    <!-- fix column widths -->
    <colgroup>
      <col style="width: 5%" span="1">
      <col style="width: 20%" span="1">
      <col style="width: 15%" span="1">
      <col style="width: 15%" span="1">
      <col style="width: 10%" span="1">
      <col style="width: 25%" span="1">
      <col style="width: 10%" span="1">
    </colgroup>
    <thead>
        <th>Level</th>
        <th>Name</th>
        <th>School</th>
        <th>Casting Time</th>
        <th>Range</th>
        <th>Duration</th>
        <th>Components</th>
      </tr>
    </thead>
    <tbody>
      {% for spell in spells %}
        <tr>
          <td>{{ spell.level }}</td>
          <td>{{ spell.name }}</td>
          <td>{{ spell.school }}</td>
          <td>{{ spell.casting_time }}</td>
          <td>{{ spell.range }}</td>
          <td>{{ spell.duration }}</td>
          <td>{{ spell.components }}</td>
      {% endfor %}
    </tbody>
  </table>
</div>

  <script src="{{ url_for('static', filename='color.js') }}"></script>


  <script>
    $(document).ready(function() {
      $("#data tbody tr").click(function() {
        var spell = $(this).find("td:nth-child(2)").html();
        // send get request and change sidebar text to response
        $.get("/spell/" + spell, function(data, status) {
          $("#sidebar-text").html(data);
        });
      });
    });
  </script>
  
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='sorting.js') }}"></script>
{% endblock %}
